
  <div class="header-container">
    <div class="info-section">
      <div class="name">{{ header.name }}</div>
      <p class="goal">{{ header.goalLife }}</p>
    </div>
    <div class="image-section">
      <img src="{{ header.photoUrl }}" alt="Profile Image">
    </div>
    <div class="contact-section">
  
        <p><span>📧</span> {{ header.email }} </p> 
        <span>📞</span> {{ header.phoneNumber }}
        <span>📍</span> {{header.location }}
        <span>🔗</span> {{ header.socialNetwork }}   
    </div>
