*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-container {
    gap: 20px;
    width: 95%;
    max-width: 1200px;  
    margin: 0 auto; 
    padding: 20px;
    border-radius: 8px; 
    display: grid;
    grid-template:  
        "header  header"
        "line    line"  
        "work-experience skills"  
        "education certificates"  auto
        "languages interests" auto/ 
        1fr 1fr
                  
    ; 


    .app-header {
        grid-area: header;

    }
    .line{
        grid-area: line;
        border-bottom: 2px solid #434343; /* Separación visual */
    padding-bottom: 15px;
    }

    .app-work-experience {
        grid-area: work-experience;
    }

    .app-skills {
        grid-area: skills;
    }

    .app-education {
        grid-area: education;
    }

    .app-certificates {
        grid-area: certificates;
    }

    .app-languages{
        grid-area: languages;
    }

    .app-interests {
        grid-area: interests;
    }
}

.app-work-experience,
.app-skills,
.app-education,
.app-certificates,
.app-languages,
.app-insterests {
    width: 100%;
    background: rgb(253, 249, 249);
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    
    .tile-font{

    }
    .text-font{
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-weight: 300
    }
 
}

.roboto-slab-title-font {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
    