
<div class="main-container">
    <header  class="app-header">
        <app-header></app-header>
    </header>  
    <div class ="line"></div>
    <div class ="app-work-experience">
        <app-work-experience></app-work-experience>
    </div>
    <div class ="app-education">
        <app-education></app-education>
    </div>
    <div class ="app-languages">
        <app-languages></app-languages>
    </div>
    <div class ="app-skills">
        <app-skills></app-skills>
    </div>
    <div class ="app-certificates">
        <app-certificates></app-certificates>
    </div>
    <div class ="app-insterests">
        <app-insterests></app-insterests>
    </div>
</div>

