.title-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 22px;
  font-weight:650;
  font-style: normal;
}
.merriweather-auto {
  padding: 20px;
  gap: 7px;
  
  
}
.text {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
.white-text{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-size: 16px;
  font-style: inherit;
  font-variation-settings:
    "wdth" 100;
  color:#b3adad;
}
.container {
display: flex;
flex-direction: column;
 text-align: left;
 width: 100%;
 height: 100%;
 background-color:#f1f1f1;  
}
.container h3{
  padding-left: 20px;
  padding-top: 20px;
}
.work-container {
  list-style: none;
  padding: 0;
  margin: 0;

  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.work-container li {

  display: flex;
  width: 100%;
  
  padding-top: 20px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;

  font-size: 16px;
}
.merriweather-auto p {
  margin: 0; 
}
.skill-box {
  width: 60px; /* tamaño uniforme */
  height: 90px;
  margin-right: 20px;
  background-color: #3dd5b0; /* azul tipo NovoResume */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.skill-name {
flex: 1;
text-align: left;
color: #333;
}
.certificate-item {
  display: flex;
  align-items: start;
  gap: 12px;
}
.date {
  color: #c0392b; /* tono rojo para fechas */
}
.fa-certificate {
  color: #3dd5b0;
  font-size: 20px;
  margin-right: 8px;
}
.badge {
  display: inline-block;
  padding: 4px 10px;
  background-color: #3dd5b0;
  color: white;
  border-radius: 15px;
  font-size: 12px;
  margin-top: 5px;
}
.certificate-box {
  width: 20px;
  height: 60px;
  background-color: #3dd5b0;
  margin-right: 10px;
}
.icon {
  margin-right: 8px;
  color: #3dd5b0; /* mismo color que el resto del diseño */
}



